<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="ecommerce121_extensions" translate="label" sortOrder="61" >
            <label><![CDATA[<span class="ecommerce121-logo">121Ecommerce</span>]]></label>
        </tab>
    </system>
</config>